

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif

}

ul,
ol {
  list-style: none;
}

/* ---- Header ---- 

header {
  background-color: rgba(218, 59, 47, 0.726);
  padding: 10px;
  color: white;
  width: 100%;

  position: fixed;
  top: 0;
}
*/


h1{
  animation: titulo 3s ease-in-out ;
  color:  rgba(218, 59, 47, 0.726);;
  
}
@keyframes titulo {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(20%,0);
  }
  
  
  100%{
    transform: translate(0,-0);
  }
}







/* ------ Portada  ----- 
.portada{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.container-bio{
  height: 30%;

}



footer{
  margin-top:  5%;
  padding: 5%;
  background-color: lightgray;
  text-align: end;
}





/* 
*/